
.botonera{
	background-color: lightgreen;
}

.botonera a:hover{
	color: white;
	text-decoration: underline;
	font-size: 1.5rem;
}

nav img{
	width: 20%;
}

.gradient{
	background: linear-gradient(to right,green, black,green);
}



.bg-green{
	background-color: lightgreen;
}

@keyframes animacion{
	0%{max-width: 50%}
	25%{max-width: 100%; background-color: black}
	50%{max-width: 150%}
	75%{max-width: 100%; background-color: white}
	100%{max-width: 50%; background-color: black;}
}

.article__titulo-animacion{
	animation-name: animacion;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in;
	animation-duration: 5s;
	animation-delay: 0s;
}
.article__textoprincipal{
	font-size: 2rem;
	color: #0ABD2C;
	
}
.section__list{list-style: none;}


.header__titulo{
	color: #0ABD2C;
	text-transform: uppercase;
}


.flex-container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;

}