
#botonera{
	background-color: lightgreen;
}

#botonera a:hover{
	color: white;
	text-decoration: underline;
	font-size: 2rem;
}

nav img{
	width: 20%;
}

.gradient{
	background: linear-gradient(to right,green, black,green);
}

.titulo{
	color: #0ABD2C;
	}


.bg-green{
	background-color: lightgreen;
}

@keyframes animacion{
	0%{width: 50%}
	25%{width: 100%; background-color: black}
	50%{width: 150%}
	75%{width: 100%; background-color: white}
	100%{width: 50%; background-color: black;}
}

.animacion{
	animation-name: animacion;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in;
	animation-duration: 5s;
	animation-delay: 0s;
}
.texto-principal{
	font-size: 2rem;
	color: #0ABD2C;
	
}
.xq{list-style: none;}


.titulo__servicios{
	color: #0ABD2C;
	text-transform: uppercase;
}
.contacto__h1{
	color: green;
}

.flex-container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;

}