@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.index__p, .quienessomos__p {
  background-color: #029C1B;
  color: white;
  line-height: 3rem;
  font-size: 1.6em;
  border: groove white 10px; }

.quienessomos__p {
  font-size: 1em;
  line-height: 2rem; }

.botonera {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: green;
  padding: 4px 30px; }
  .botonera img {
    width: 150px; }
  .botonera ul {
    display: flex; }
    .botonera ul li {
      list-style: none;
      margin-right: 10px; }
      .botonera ul li a {
        color: #FCFAFA;
        font-size: 1em;
        text-decoration: none;
        font-family: "Nunito", sans-serif; }
        .botonera ul li a:hover {
          color: #1A1A1A;
          text-decoration: underline; }

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #70972B; }
  footer img {
    padding: 10px;
    background-color: #FCFAFA; }
  footer .footer__p {
    color: #FCFAFA;
    margin-bottom: 10px;
    font-size: 1em; }

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif; }

h1, h2, h3 {
  color: white;
  background-color: lightgreen;
  text-transform: uppercase;
  font-size: 1.6em; }

.quienessomos__h2 {
  background-color: #70972B; }

.contacto__formulario {
  background-color: #9EB170; }
